In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('athlete_events.csv')

In [ ]:
# reportar cantidad de registros (filas) y campos (columnas)

df.shape

(271116, 15)

In [ ]:
df.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

In [ ]:
df['Games'].value_counts().count()

51

In [ ]:
df_summer = df[df['Season'] == 'Summer']

In [ ]:
df_summer.head()

    ID                                Name  ...                         Event  Medal
0    1                           A Dijiang  ...   Basketball Men's Basketball    NaN
1    2                            A Lamusi  ...  Judo Men's Extra-Lightweight    NaN
2    3                 Gunnar Nielsen Aaby  ...       Football Men's Football    NaN
3    4                Edgar Lindenau Aabye  ...   Tug-Of-War Men's Tug-Of-War   Gold
26   8  Cornelia "Cor" Aalten (-Strannood)  ...  Athletics Women's 100 metres    NaN

[5 rows x 15 columns]

In [ ]:
df_summer['Season'].value_counts()

Summer    222552
Name: Season, dtype: int64

In [ ]:
df['Season'].value_counts('gaby')

Summer    0.820874
Winter    0.179126
Name: Season, dtype: float64

In [ ]:
df_winter = df[df['Season'] == 'Winter']

In [ ]:
df_winter.head()

   ID                      Name  ...                               Event  Medal
4   5  Christine Jacoba Aaftink  ...    Speed Skating Women's 500 metres    NaN
5   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 1,000 metres    NaN
6   5  Christine Jacoba Aaftink  ...    Speed Skating Women's 500 metres    NaN
7   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 1,000 metres    NaN
8   5  Christine Jacoba Aaftink  ...    Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

In [ ]:
# cantidad de verano
df['Season'].value_counts()['Summer'] / (df['Season'].value_counts()['Winter'] + df['Season'].value_counts()['Summer'])

0.8208737219492763

In [ ]:
# cantidad de invierno
df['Season'].value_counts()['Winter'] / (df['Season'].value_counts()['Winter'] + df['Season'].value_counts()['Summer'])

0.17912627805072368

In [ ]:
df['Year'].min()

1896

In [ ]:
pd.unique(df2["Games"]).min()