In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('nations.csv')

In [ ]:
df.head()

   Unnamed: 0       country  region  ...   literacy   co2       gini
0           1       Algeria  Africa  ...  72.599998  15.0        NaN
1           2         Benin  Africa  ...  41.700001   1.2        NaN
2           3      Botswana  Africa  ...  84.099998   9.2        NaN
3           4  Burkina Faso  Africa  ...  23.600000   0.2        NaN
4           5       Burundi  Africa  ...  66.599998   0.1  33.299999

[5 rows x 14 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape

(194, 14)

In [ ]:
# saber el nombre de las columnas

df.columns

Index(['Unnamed: 0', 'country', 'region', 'gdp', 'school', 'adfert',
       'chldmort', 'life', 'pop', 'urban', 'femlab', 'literacy', 'co2',
       'gini'],
      dtype='object')

In [ ]:
df['region']

0       Africa
1       Africa
2       Africa
3       Africa
4       Africa
        ...
189    Oceania
190    Oceania
191    Oceania
192    Oceania
193    Oceania
Name: region, Length: 194, dtype: object

In [ ]:
region = df['region']
type(region)

pandas.core.series.Series

In [ ]:
# borrar columna

df = df.drop(columns=['Unnamed: 0'])

In [ ]:
df.head()

        country  region           gdp  ...   literacy   co2       gini
0       Algeria  Africa   7300.399902  ...  72.599998  15.0        NaN
1         Benin  Africa   1338.800049  ...  41.700001   1.2        NaN
2      Botswana  Africa  12307.400391  ...  84.099998   9.2        NaN
3  Burkina Faso  Africa   1063.400024  ...  23.600000   0.2        NaN
4       Burundi  Africa    349.200012  ...  66.599998   0.1  33.299999

[5 rows x 13 columns]

In [ ]:
# contar la frecuencia de valores dentro de una columna

df['region'].value_counts()

Africa      52
Asia        49
Europe      43
Americas    35
Oceania     15
Name: region, dtype: int64

In [ ]:
df['region'].isna().value_counts()

False    194
Name: region, dtype: int64

In [ ]:
df['gini'].isna().value_counts()

True     113
False     81
Name: gini, dtype: int64

In [ ]:
df_subset = df.loc[:, ['country', 'region']]

In [ ]:
df_subset.shape

(194, 2)

In [ ]:
# hacer filtros

df_americas = df[df['region'] == 'Americas']